<li>
    {{burger_name}}
    {{#unless devoured}}
    <button class="change-devoured" data-id="{{id}}" data-newdevoured="true">
        {{#unless devoured}}Devour burgers!{{/unless}}
    </button>
    {{/unless}}
</li>